:root {
	color-scheme: light dark;

	--color-primary: light-dark(env(--color-light-primary), env(--color-dark-primary));
	--color-secondary: light-dark(env(--color-light-secondary), env(--color-dark-secondary));
	--color-tertiary: light-dark(env(--color-light-tertiary), env(--color-dark-tertiary));
	--color-accent: light-dark(env(--color-light-accent), env(--color-dark-accent));
	--color-text: light-dark(env(--color-dark-primary), env(--color-light-primary));
}

body {
	font-family: env(--font-sans);
	background: var(--color-primary);
	color: var(--color-text);
	transition: background env(--transition-base), color env(--transition-base);
}

